.formcontainer {
    margin-bottom: 20px;
    margin-top: 30px;
  }
  
  .formsearch {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4px;
  }
  
  .forminput {
    width: 272px;
    height: 40px;
    border-radius: 15px;
    border: 1px solid #808080;
    padding: 0 10px;
  }
  .formbtn {
    width: 91px;
    height: 40px;
    border-radius: 15px;
    border: none;
    font-weight: 600;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: rgb(15, 136, 160);
    padding: 0;
    color: aliceblue;
  }
  
  .formbtn:hover {
    background-color: rgb(4, 79, 92);
  }
  